<ion-header>
  
  <ion-toolbar>
   
   
    
    <ion-buttons><ion-title>Create Cancellation</ion-title><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
<ion-item> 
  <ion-chip>
    <ion-icon name="shop"></ion-icon>
  <ion-label>{{order.storeId}}</ion-label>
  </ion-chip>
</ion-item>

    <div   >
  <ion-card class="ion-no-padding">
    <ion-card-header class="ion-no-padding">
    <ion-item lines="full">
      <ion-text slot="start">{{order.date |date}}</ion-text>

      <ion-text slot="end">{{order.date |date:'shortTime'}}</ion-text>
    </ion-item>
      <ion-item lines="none">
        <ion-text slot="start" >
            Total
        </ion-text>
        <ion-text slot="start" slot="end" class="ion-text-right">
           {{ order.grandTotal |  number: "1.2-2"}}
        </ion-text>
      </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
        <ion-item lines="none">
            <ion-text slot="start" >
                <b>Total refund</b>
            </ion-text>
            <ion-text slot="start" slot="end" class="ion-text-right">
              <b>&#8364;{{cancellationRequestDTO.amount |  number: "1.2-2"}}</b>
            </ion-text>
          </ion-item>    
    </ion-card-content>
  </ion-card>

      <ion-card>
        <ion-card-header color="light">
          <ion-card-title>
          Items
          </ion-card-title>
        </ion-card-header>
    
      </ion-card>
      <div *ngFor="let orderLine of orderLines" lines="none">
        <app-refund-product-card  [orderLine]="orderLine" (changeEmiter)="updateCancellationOrderLines($event)"  (auxChangeEmiter)="updateAuxLines($event)" ></app-refund-product-card>
      </div>
     


    </div>
   <!-- refund detail div end -->


</ion-content>

<!-- <ion-footer>
  <ion-segment color="terrain " (ionChange)="segmentChanged($event)">
  
   
    <ion-segment-button layout="icon-bottom"  value="refund detail" checked>
      <ion-label>Refund Detail</ion-label>
    </ion-segment-button>

    <ion-segment-button checked layout="icon-bottom"  value='order detail' >
      <ion-label>Order Detail</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer> -->

<ion-footer *ngIf="order.paymentMode!=='COD'">
  <ion-button expand="full" (click)="createCancellation()">Create cancellation</ion-button>
 
</ion-footer>