<ion-header>
  <ion-toolbar>
    <ion-title>new-offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset-lg="3" offset-md="2" offset="1" size-lg="6" size-md="8" size="10">
        <ion-item>
          <ion-label position="floating">Promo code</ion-label>
          <ion-input type="text" [(ngModel)]="offerModel.promoCode"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Deduction type</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="offerModel.deduction_value_type_id">
            <ion-select-option [value]="option.id" *ngFor="let option of deductionValueTypes">{{option.deductionValueType}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Deduction value</ion-label>
          <ion-input type="number" [(ngModel)]="offerModel.deductionValue"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="offerModel.description"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Prerequisite order number</ion-label>
          <ion-input type="number" [(ngModel)]="offerModel.prerequisiteOrderNumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Start date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]="offerModel.startDate"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>End date</ion-label>
          <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]="offerModel.endDate"></ion-datetime>
        </ion-item>

        <ion-item lines="none">
          <ion-button slot="end"  size="default" (click)="createNewOffer()">
            Create
          </ion-button>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>