<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Delivery Info</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <mat-horizontal-stepper labelPosition="bottom">
    <mat-step completed editable="false">
        <ng-template matStepLabel>Placed</ng-template>
    </mat-step>
    <mat-step completed editable="false">
        <ng-template matStepLabel >Approved</ng-template>
    </mat-step>
    <mat-step   editable="false">
        <ng-template matStepLabel>Delivered</ng-template>
    </mat-step>
  </mat-horizontal-stepper> -->
  
  <!-- <ion-item *ngIf="store" lines="full">
    <ion-avatar>
        <ion-img
        [src]="
          'data:' +
          store.imageContentType +
          ';base64,' +
          store.image
        "
      ></ion-img>
    </ion-avatar>
    <ion-text class="ion-margin">
      {{store.name}}
    </ion-text>
    <ion-badge slot="end" padding>{{'Order ' +  order.orderId}}</ion-badge>
  </ion-item> -->

 

</ion-content>