<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Feedbacks</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-feedback *ngFor="let feedback of feedbacks" [feedback]=feedback ></app-feedback>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
