    
  <ion-header>
   
    <ion-toolbar>
        <ion-buttons  slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-buttons  slot="end">
            <ion-button (click)="isSearch()" *ngIf="!isSearching">
           <ion-icon name="search"></ion-icon>
          </ion-button>
          <ion-button (click)="isSearch()" *ngIf="isSearching">
            <ion-icon name="document" mod="ios"></ion-icon>
                     </ion-button>
          </ion-buttons>
      <ion-title>Cancellation</ion-title>
    </ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" *ngIf="!isSearching">
      <ion-segment-button value="cancellation" checked="true">
        <ion-label>Cancellation</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar *ngIf="isSearching" placeholder="enter order id" (ionChange)="searchByOrderId($event)" debounce=2000></ion-searchbar>

  </ion-header>
  
  <ion-content>
  
 
   <div *ngIf="!isSearching" >
      <div *ngIf="!isCompleted">
            <div *ngFor="let cancellation of cancellationRequestService.cancellationRequestDTOs" > 
              <app-cancellation-request [cancellation]="cancellation"  >
      
              </app-cancellation-request>
            </div>
      
          </div>

          <div *ngIf="isCompleted">
            <div *ngFor="let cancellation of cancellationRequestService.completedRequestDTOs"  > 
              <app-cancellation-request [cancellation]="cancellation">
      
              </app-cancellation-request>
            </div>
      
          </div>
         
  
    </div>
    <!-- ##########################  searching div start ###################-->
    <div *ngIf="isSearching">

      <app-cancellation-request *ngIf="searchResult!==null"  [cancellation]="searchResult"></app-cancellation-request>

    </div>
    <!-- ##########################  searching div end ###################-->

  
  
  
        
       
  </ion-content>
  <ion-footer *ngIf="!isSearching">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="add($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-footer>
     

