<ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical margin-vertical>
  <ion-grid padding-vertical margin-vertical>
    <ion-row padding-vertical margin-vertical>
      <ion-col  size-md="6" align-self-center offset="2" offset-md="3" size="8" padding-vertical margin-vertical>
        <ion-button (click)="login()" class="size" expand="block" class="align">Login
          Now</ion-button><br>
        <ion-button (click)="signup()" expand="block" class="align">Register
          Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
