<ion-card *ngIf="term!==null" >
 
  <!-- <ion-fab vertical="top" horizontal="end" >
    <ion-fab-button (click)=deleteTerm() size="small">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-card-header text-center>
    <ion-text color="primary" *ngIf="!isTitleEdit" >
    <h3>  <u>{{term.title}}</u>
      </h3>
    </ion-text>
    <ion-input [(ngModel)]="term.title"  *ngIf="isTitleEdit">
   

    </ion-input>
  </ion-card-header>
  <div *ngFor="let subterm of term.subTerms">
  <ion-card *ngIf="subterm.termDescription!==null" >
  
    <ion-card-content>
    {{subterm.termDescription}} </ion-card-content>
  <br>
  <br>
  <br>
  <br>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="deleteSubterm(subterm)" size="small">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="primary" (click)="editSubterm(subterm)" size="small">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-card>
  
</div><br>
<br>
<br>
<br>
<br>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="danger" (click)="deleteTerm()" >
    <ion-icon name="trash"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="top" horizontal="end" slot="fixed"  *ngIf="!isTitleEdit">
  <ion-fab-button color="success" (click)="editTitile()" >
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="top" horizontal="end" slot="fixed"  *ngIf="isTitleEdit">
  <ion-fab-button color="success" (click)="updateTitile()" >
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-card>
