<ion-card *ngIf="term!==null" >
  <ion-fab vertical="top" horizontal="end" >
    <ion-fab-button (click)=deleteTerm()>
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card-header text-center>
    <ion-text color="primary">
    <h3>  <u>{{term.title}}</u>
      </h3>
    </ion-text>
  </ion-card-header>
  <ion-card *ngFor="let subterm of term.subTerms" >
  
    <ion-card-content>
    {{subterm.term}} </ion-card-content>
  <br>
  <br>
  <br>
  <br>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="close()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="edit()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-card>
  
 

</ion-card>
