ion-grid {
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 40px;
    --ion-grid-padding-lg: 100px;
    --ion-grid-padding: 10px;
}
ion-content {
    --padding-top: 2%;
}
.banner-image {
    width: 50%;
    margin-left: 45%;
}
.submit {
    --inner-padding-top: 20px;
}
ion-col {
    text-align: center;
    vertical-align: middle;
}

.close ion-icon {
    font-size: 30px;
}
.cropped-image {
    width: auto;
    max-width: 100%;
    margin-top: 15%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
ion-col.black-bg {
    background-color: black;
}
ion-col.blue-bg {
    background-color: black;
    --ion-grid-column-padding: 0px;
}
ion-col {
    align-self: stretch;
}
ion-split-pane {
    --border: 0px solid #fff !important;
}
image-cropper {
    margin: 0px;
    margin-top: 4px;
    padding: 0px;
    height: 100%;
}