<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="banners"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="banner.id">Update banner</ion-title>
    <ion-title *ngIf="!banner.id">Create-banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" offset-sm="0" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-row *ngIf="this.imageService.uploadedImage">
          <ion-col size-sm="2" size-md="1" size-lg="2" class="close">
            <ion-item lines="none">
              <ion-icon slot="end" *ngIf="this.imageService.uploadedImage && !this.imageService.isImageCropped" name="checkmark" color="success" (click)="this.imageService.finishCropping()">
              </ion-icon>
              <ion-icon slot="end" name="close" color="danger" (click)="this.imageService.removeImage()">
              </ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <img *ngIf="banner.image != null" [src] = "'data:' + imageContentType + ';base64,' + banner.image"/>
          <img *ngIf="banner.image == null && banner.imageLink" [src]=banner.imageLink/>
        </ion-row>
        <!-- <ion-row *ngIf="this.imageService.uploadedImage && !this.imageService.isImageCropped">
          <ion-col size-sm="4" offset-sm="1" size-md="4" offset-md="1" size-lg="4" offset-lg="1" class="blue-bg">
            <image-cropper [imageBase64]="this.imageService.uploadedImage" [maintainAspectRatio]="true"
              [aspectRatio]="2 / 1" [resizeToWidth]="400" format="jpeg"
              (imageCropped)="this.imageService.cropImage($event)"></image-cropper>
          </ion-col>
          <ion-col size-sm="4" offset-sm="1" size-md="4" offset-md="1" size-lg="4" offset-lg="1" class="black-bg">
            <img class="cropped-image" *ngIf="this.imageService.uploadedImage && this.imageService.croppedImage" [src]="this.imageService.croppedImage" />
          </ion-col>
        </ion-row>
        <ion-row *ngIf="this.imageService.isImageCropped && this.imageService.croppedImage">
          <ion-col size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
            <ion-img [src]="this.imageService.croppedImage"></ion-img>
          </ion-col>
        </ion-row> -->
        <ion-item lines="none">
          <ion-text>Banner image</ion-text>
          <input type="file" id="selectedFile" #selectedFile hidden accept="image/*"/>
          <ion-button slot='end' (click)="selectImage()">
            <ion-icon name="attach">
            </ion-icon>
          </ion-button>
          <!-- <ion-button slot='end' (click)="this.imageService.takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-button> -->
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Store</ion-label>
          <ion-input type="text" (click)="isSearching()" [readonly]="true"
            [(ngModel)]="this.orderService.selectedStore.name" (onStoreSelected)="selectStore($event)"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Valid till</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="banner.expiryDate"></ion-datetime>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Price</ion-label>
          <ion-input type="number" color="primary" [(ngModel)]="banner.cost"></ion-input>
        </ion-item>
        <ion-item lines="none" class="submit" (click)="createUpdateBanner()">
          <ion-button *ngIf="!banner.id" slot="end" size="medium">
            Create
          </ion-button>
          <ion-button *ngIf="banner.id" slot="end" size="medium">
            Update
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>

  </div>
</ion-content>
