<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>create-banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" offset-sm="0" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-row *ngIf="this.imageService.uploadedImage">
          <ion-col size-sm="6" offset-sm="2" size-md="6" offset-md="2" size-lg="4" offset-lg="3">
            <img *ngIf="this.imageService.uploadedImage" [src]="this.imageService.uploadedImage"/>
          </ion-col> 
          <ion-col size-sm="2" size-md="1" size-lg="2" class="close">
            <ion-icon name="close" color="danger" class="close-button" (click)="this.imageService.removeImage()"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-item lines="none">
          <ion-text>Banner image</ion-text>
          <input type="file" id="selectedFile" #selectedFile hidden/>
          <ion-button slot='end' (click)="this.imageService.uploadImage(selectedFile)">
            <ion-icon name="attach">
            </ion-icon>
          </ion-button>
          <ion-button slot='end' (click)="this.imageService.takePicture()">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Store</ion-label>
          <ion-input type="text" (ionChange)="isSearching()" (ionBlur)="isNotSearching()" [(ngModel)]="this.orderService.searchTerm"></ion-input>
        </ion-item>
        <ion-item lines="inset">
          <ion-label position="floating">Valid till</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD"></ion-datetime>
        </ion-item>
        <ion-item lines="inset">
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" color="primary"></ion-input>
          </ion-item>
          <ion-item lines="none" class="submit" (click)="createNewBanner()">
            <ion-button slot="end" size="medium">
              Create
            </ion-button>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>

  </div>
</ion-content>