<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>banners</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm='12' size-md='6' size-lg='4' *ngFor="let banner of banners">
        <ion-card >
          <ion-card-header class="ion-no-margin ion-no-padding hed-height">
            <ion-button (click)="editDeleteActionSheet(banner)" float-right fill="none" class = "btn-size"><ion-icon slot="icon-only" name="more" class="rotate void-button" ></ion-icon></ion-button>
          </ion-card-header>
          <!-- <ion-button (click)="deleteBanner(banner)" class="btn" fill="none"><ion-icon color="danger" slot="icon-only" name="trash"></ion-icon></ion-button> -->
          <img
            [src]="banner.imageLink" />
          <ion-card-header>
            <ion-text *ngIf="banner.expiryDate">Valid up to {{banner.expiryDate | date: 'dd/MM/yyyy'}}</ion-text>
          </ion-card-header>
          <ion-item>
            <ion-card-header>
              <ion-card-title *ngIf="banner.storeId">{{banner.storeId}}</ion-card-title>
            </ion-card-header>
            <ion-badge class="size" *ngIf="banner.cost" color='primary' slot='end'>&euro;&nbsp;{{banner.cost}}</ion-badge>
          </ion-item>
        </ion-card>

      </ion-col>
<!--       <ion-col size='auto' size-sm='12' size-md='6' size-lg='4'>
        <ion-card>function
          <img
            src="https://images.unsplash.com/photo-1575323145063-e22dd6d1e6f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
          <ion-card-header>
            <ion-card-subtitle>From 12-10-19 to 01-01-2020</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-card-header>
              <ion-card-title>Chicken Hut</ion-card-title>
            </ion-card-header>
            <ion-badge color='primary' slot='end'>396&nbsp;&euro;</ion-badge>
          </ion-item>
        </ion-card>

      </ion-col>

      <ion-col size='auto' size-sm='12' size-md='6' size-lg='4'>
        <ion-card>
          <img
            src="https://images.unsplash.com/photo-1575323145063-e22dd6d1e6f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
          <ion-card-header>
            <ion-card-subtitle>From 12-10-19 to 01-01-2020</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-card-header>
              <ion-card-title>Chicken Hut</ion-card-title>
            </ion-card-header>
            <ion-badge color='primary' slot='end'>396&nbsp;&euro;</ion-badge>
          </ion-item>
        </ion-card>

      </ion-col> -->
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/create-banner">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!--Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>