ion-badge {
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    font-size: 120%;
}
ion-card-header {
    padding-bottom: 10px;
}

.btn {
    position: absolute;
}

.size {
    font-size: 14px;
}