
     <ion-item color="primary" >
      <ion-label text-start class="wrap">
         <h2>{{orderLine.item}}</h2>
         <h3>
            &#8364;{{(orderLine.total | number: "1.1-2")}}              
        </h3>
      </ion-label>
      <ion-grid slot="end" class="borderFull">
        <ion-row>
          <ion-col text-center >
            <ion-text>
              {{pricePerUnit}} 
            </ion-text>
          </ion-col>
          <ion-col text-center >
            <ion-text>
           x
            </ion-text>
          </ion-col>
          <ion-col text-center>
            <ion-text>
              {{orderLine.quantity}} 
            </ion-text>
          </ion-col>
          <ion-col text-center >
            <ion-text>
           =
            </ion-text>
          </ion-col>
          <ion-col text-center >
            <ion-text>
              {{orderLine.total}} 
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>    