<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-content>
      <ion-text>
        <h3>
     {{aboutService.about.description}} 
    </h3>
    </ion-text>
    </ion-card-content>
    <ion-item>
      <ion-text slot="end"> {{aboutService.about.supportPhone}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-text slot="end"> {{aboutService.about.supportMail}}</ion-text>
    </ion-item>
 </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/new-about">
    <ion-fab-button>
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
