<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding margin>
  <ion-card padding-vertical margin-vertical>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Enter a username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter your Email" [(ngModel)]="email"
          type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" [(ngModel)]="password"
          type="password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox slot="start" color="danger" (ionChange)="dataChanged(true)"></ion-checkbox>
        <ion-label class="size">By clicking signup your agree to Graeshoppe
          User Agreement </ion-label>

      </ion-item>

      <ion-button expand="block" (click)="signup()" color="primary" *ngIf="agreement===true" >Signup</ion-button>
      <ion-button expand="block"  *ngIf="agreement===false" color="light" disable="true">Signup</ion-button>
      </ion-card-content>
      </ion-card>
</ion-content>
