/* ion-col,
ion-item {
  text-align: center;
}
ion-icon {
  position: absolute;
  left: 3vw;
  font-size: 50px;
}
ion-item {
  height: auto;
  margin-top: 20px;
  padding: 20px;
}
@media only screen and (min-width: 360px) {
  ion-icon {
    left: 5vw;
  }
}

@media only screen and (min-width: 400px) {
  ion-icon {
    left: 30%;
  }
}

@media only screen and (min-width: 550px) {
  ion-icon {
    left: 35%;
  }
} */
.white-background {
  background-color: #fff;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}
.white-background h6 {
  color: #8d8f9c;
  margin-bottom: 0px;
}
.white-background h1 {
  color: #353536;
  margin-top: 5px;
}
.white-background-small {
  font-size: 80%;
}
.side-border {
  border-right: 0.5px solid #8d8f9c;
  border-radius: 0px;
}
.white-background-small h6 {
  margin-bottom: 2px; 
}
.white-background-small h5 {
  margin-top: 2px; 
}
ion-searchbar {
  --color: white;
  --placeholder-color: rgb(18, 18, 19);
}
.store {
  --background: white;
}
