<ion-header>
  <ion-toolbar>
    <ion-title>offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/new-offer">
    <ion-fab-button>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>{{offer.promoCode}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{offer.description}}
    </ion-card-content>
  </ion-card>
<div class="load-data" *ngIf="!offers">
  <ion-spinner></ion-spinner>
</div>
  
</ion-content>